.navbar>.container-fluid{
    display: none;
}
.online_574{
    max-width: 450px;
    height: 420px;
}
.header-title{
    text-align: center;
    display: flex;
    width: 1399px;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.bus-22a{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-direction: row-reverse;
    justify-content: space-around;
    gap: 20px; */
}
.rasp{
    max-width: 350px;
    height: 650px;
}
.frames{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: stretch;
    align-content: stretch;
}
iframe{
    padding: 20px 0px;
    border-radius: 20px;
}
.button1{
    margin: 10px 0px;
    padding: 0px 0px;
    width: 150px;
    height: 50px;
    background-color: yellowgreen;
    border: 1px black solid;
    border-radius: 20px;
}

/* .rasp body > h1:nth-child(3){
    color: red;
} */
.button1:hover{
    border: 1px gray solid;
}
.btn-group{
    display: none;
}
@media screen and (max-width: 1399px) {
    /* *{
        color: aqua !important;
    } */
    .bus-22a{
        padding: 5px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* flex-direction: row-reverse;
        justify-content: space-around;
        gap: 20px; */
    }
    .btn-group{
        display: flex;
        vertical-align: top;
        justify-content: center;
        padding-bottom: 2px;
    }
}
@media screen and (max-width:768px) {
    .frames{
        padding-top: 0px;
        margin-top: -11px;
        /* border: 1px black solid; */
        border-radius: 20px solid;
    }
    .online_574{
        width: 351px;
        
    }
    .bus-22a{
        display: flex;
        flex-direction:column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .button1{
        width: 150px;
        height: 50px;
        /* background-color: yellowgreen; */
    }

}
