.online_574{
    width: 450px;
    height: 380px;
}
.bus-22a{
    padding: 20px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 20px;
}
.rasp{
    width: 350px;
    height: 612px;
}
button{
    width: 150px;
    height: 50px;
    background-color: yellowgreen;
    border: 1px black solid;
    border-radius: 20px;
}
/* .rasp body > h1:nth-child(3){
    color: red;
} */
button:hover{
    border: 3px gray solid;
}
@media screen and (max-width:768px) {
    .online_574{
        width: 351px;
        
    }
    .bus-22a{
        display: flex;
        flex-direction:column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    button{
        width: 150px;
        height: 50px;
        background-color: yellowgreen;
    }

}
